<html>
<head>
<title>Register new user</title>
<style type="text/css">
label {
    padding: 8px;
}
</style>
</head>

<body>
<form method="POST" action="/person/add">
    {% csrf_token %}
    <input name="login" type="text"> <label for="username">User name</label> <br>
    <input name="password" type="password"> <label for="username">Password</label> <br>
    <input name="email" type="text"> <label for="username">Email address</label> <br>
    <input name="firstname" type="text"> <label for="username">First name</label> <br>
    <input name="lastname" type="text"> <label for="username">Last name</label> <br><br>
<input type="submit" value="Register">
</form>
</body>
</html>